{% extends "layout.html" %}
{% from 'macros.html' import render_field %}

{% block content %}
<div class="edit-entry">
    <h2>Edit Entry</h2>
    {% set data = [entry.title, entry.date, entry.time_spent, entry.learned, entry.resources] %}
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        {% for field in form %}
        {{ render_field(field=field, value=data[loop.index - 1], form=form, index=loop.index) }}
        {% endfor %}
        <input type="submit" value="Publish Entry" class="button">
        <a href="/" class="button button-secondary">Cancel</a>
        <a href="/entries/{{entry.slug}}/delete" class="button delete">Delete</a>
    </form>
</div>
{% endblock %}
