{% macro render_field(field) %}
    <div class="field">
        {% if field.errors %}
            {% for error in field.errors %}
                <div class="notification error">{{ error }}</div>
            {% endfor %}
        {% endif %}
        <!-- TODO: Find if there is a better way to do this -->
        {%- set type = "" -%}
        {%- if field.type == "StringField" %}{% set type = "text" %}
        {%- elif field.type == "DateField" %}{% set type = "date" %}
        {%- elif field.type == "IntegerField" %}{% set type = "number" %}
        {%- elif field.type == "TextAreaField" %}{% set type = "textarea" %}
        {%- endif %}
        <!-- TODO: Find why CSRF Token is appearing twice -->
        {{ field(type=type, placeholder=field.label.text) }}
    </div>
{% endmacro %}